/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos para las tablas */
table {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
}

/* Estilos para la tabla de título */
.tabla_titulo {
    background-color: #000000; /* Negro */
    color: #ff0000; /* Rojo */
    height: 33px;
}


.titulo {
    margin: 0;
}

/* Estilos comunes para las tablas de sensores */
.tabla_sensorinfrarrojo, .tabla_sensorultrasonico, .tabla_sensornivel {
    background-color: white;
    height: 177px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    justify-content: center;
}


/* Estilos para los textos grandes */
.texto_grande {
    color: #ff0000; /* Rojo */
    margin: 10px 0;
}

/* Estilos para los textos menores */
.texto_min {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

/* Estilos para los iframes */
.iframe_dato {
    width: 50%;
    height: 50px;
    border: none;
}


